.container .list-group-horizontal .list-group-item {
	display: inline-block;

}
.container .list-group-horizontal .list-group-item {
	margin-bottom: 0;
	margin-left:-4px;
	margin-right: 0;
	border-right-width: 0;
	width: 33%;
	height: 55px;
	overflow: auto;
	text-align: center;
	overflow-y: hidden;
	white-space: nowrap;
}
.container .list-group-horizontal .list-group-item:first-child {
	border-top-right-radius:0;
	border-bottom-left-radius:4px;
}
.container .list-group-horizontal .list-group-item:last-child {
	border-top-right-radius:4px;
	border-bottom-left-radius:0;
	border-right-width: 1px;
}
.container ul { margin: -10px 0; }

.btnRimuovi {
	float: right;
	font-size: 16px;
}

.portrait {
	display: none;
}

@media (max-width: 500px) {
    .landscape {
        display: none;
    }
    .portrait {
				display: inline-block;
    }
}
