  .books {
    margin-top: 1em;
    margin-bottom: 20em;

    .book-front {
        margin-bottom: 2em;
    }

    .product-grid {
        text-align: center;
        overflow: hidden;
        z-index: 1;
        box-shadow: 0 0 1px #000;
        margin-bottom: 2em;

        .pic-1 {
            opacity: 1;
            transition: all .3s ease-out 0s
        }

        .product-image {
            img {
                width: 100%;
                height: auto;
            }
            a {
                display: block;
            }
        }

        .social {
            width: 150px;
            padding: 0;
            margin: 0;
            list-style: none;
            opacity: 0;
            transform: translateY(-50%) translateX(-50%);
            position: absolute;
            top: 60%;
            left: 50%;
            z-index: 1;
            transition: all .3s ease 0s;

            li {
                display: inline-block;

                a {
                    color: #fff;
                    border-radius: 100%;
                    background-color: #333b;
                    font-size: 16px;
                    line-height: 40px;
                    text-align: center;
                    height: 50px;
                    width: 50px;
                    padding-top: 8px;
                    display: block;
                    position: relative;
                    transition: all .3s ease-in-out;

                    &:hover {
                        background-color: #333;
                    }

                    &:after {
                        content: '';
                        height: 15px;
                        width: 15px;
                        border-radius: 0;
                        transform: translateX(-50%) rotate(45deg);
                        top: -20px;
                        z-index: -1;
                    }

                    &:before, &:after {
                        content: attr(data-tip);
                        color: #fff;
                        font-size: 12px;
                        letter-spacing: 1px;
                        line-height: 20px;
                        padding: 1px 5px;
                        white-space: nowrap;
                        opacity: 0;
                        transform: translateX(-50%);
                        position: absolute;
                        left: 50%;
                        top: -30px;
                    }
                }
            }
        }

        .title {
            font-size: 13px;
            font-weight: 400;
            letter-spacing: .5px;
            text-transform: capitalize;
            margin: 0 0 10px;
            transition: all .3s ease 0s;
        }

        .product-content {
            background-color: #fff;
            text-align: center;
            padding: 12px 0;
            margin: 0 auto;
            position: absolute;
            left: 0;
            right: 0;
            bottom: -27px;
            z-index: 1;
            transition: all .3s;

            .hidden-data {
                display: none;
            }
        }

        &:hover {
            .social {
                opacity: 1;
                top: 50%
            }
            .product-content {
                bottom: 0;

                .hidden-data {
                    display: block;
                }
            }
        }
    }

}


.product-grid .title a:hover, .product-grid:hover .title a {
    color: blue;
}